body, html {
    margin: 0;
    padding: 0;
    font-family: "Lato";
    background: linear-gradient(-225deg, #b41d1d 0%, #e7325a 29%, #1c02af 67%, #2c2b17 100%);

}

.header {
color:#FFFFFF;
display: flex;
justify-content: flex-start;
align-items: center;
}

.header img{
    margin: 20px;
    mix-blend-mode: color-burn;
    align-self: center;
    padding-bottom: 2%;
}

.header h1 {
color:#FFFFFF;
text-align: left;
font-family: "Lato";
font-size: 40px;
text-shadow: 1px 1px 3px rgb(122, 43, 43);
padding-left: 0.75em;
}

.header ul {
color:#FFFFFF;
text-align: center;
list-style: none;
display: inline-flex;
}

.header a {
    text-decoration: none;
    padding: 1em;
    margin: 1em;
}

.header a:link {
    color:#FFFFFF;
}

.header a:visited {
    color:#FFFFFF;
    text-decoration: none;
}

.header a:hover {
    color:#000000;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

.blogheader {
    color:#FFFFFF;
    display: block;
    align-items: center;
    margin: -1
    }

.blogheader ul {
    color:#FFFFFF;
    text-align: center;
    list-style: none;
    display: inline-flex;
    margin: -1
    }

.blogheader h1 {
    color:#f7cd96;
    text-align: left;
    font-family: "Lato";
    font-size: 50px;
    text-shadow: 1px 1px 3px rgb(122, 43, 43);
    padding-left: 0.75em;
    padding-bottom: 0%;
    margin: 5
}

.blogheader a {
    text-decoration: none;
    color:#f7b663;
}

.blogheader a:link {
    color:#f7b663;
    font-size: 20;
}

.blogheader a:visited {
    color: #f7b663;
    text-decoration: none;
}

.blogheader a:hover {
    color:#000000;
    text-shadow: 1px 1px 3px rgb(255, 255, 255);
}

  .home {
    color:#FFFFFF;
    list-style: none;
    margin: 5 1 3px 0;
  }

  .about {
    color:#FFFFFF;
    list-style: none;
    margin: 0 0 3px 0;
  }

  .archives {
    color:#FFFFFF;
    list-style: none;
    margin: 0 0 3px 0;
  }

.bloghead{
    background-color: #aaa4a4;  
    width: 69.5%;
    height: 2em;
    margin-left: 2em;
    border-radius: 10px;
    text-align: left;
}

.bloghead a {
    color:#000000
}

.blogdesc{
    background-color: #ebd9d9;  
    width: 69.5%;
    height: 3em;
    margin-left: 2em;
    text-align: left;
}

  [style*="--aspect-ratio"]  {
    width: 70%;
    float: left;
    border-radius: 15px;
    width: 1000px; 
    overflow: hidden;
    margin-left: 2em;
  }

  [style*="--aspect-ratio"] > :first-child {
    width: 100%;
    float: center;
  }

  [style*="--aspect-ratio"] > img {  
    height: auto;
  } 
  @supports (--custom:property) {
    [style*="--aspect-ratio"] {
      position: relative;
    }
    [style*="--aspect-ratio"]::before {
      content: "";
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }  
    [style*="--aspect-ratio"] > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }  
  }

  .profile{
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .profile img{
    width:100%;
    height:100%;
    object-fit: cover;
  }

  footer {
    margin-left: 2em;
    width: 70%;
    float: left;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  footer > :first-child {
      background-color: #cec2c2;
      border-radius: 15px;
  }

  

  /*
  .container {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
  }

  .profile{
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin-left: auto;
  }

  .profile img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
*/


  
